{{#if products }}
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-3">
    <ul class="list-group">
      {{#each products}}
      <li class="list-group-item">
          <span class="badge">{{this.qty}}</span>
          <strong>{{this.item.title}}</strong>
          <div>
          <span class="label label-success"> &#8377; {{this.item.price}}</span> &#215 <span class="label label-success">{{this.qty}}</span> = <span class="label label-success"> &#8377; {{this.price}}</span>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/reduce/{{this.item._id}}">Reduce by One</a></li>
              <li><a href="#">Remove All</a></li>
            </ul>
          </div>
        </div>
      </li>
       {{/each}}
    </ul>
  </diV>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-3">
     <strong> Total: &#8377; {{totalPrice}} </strong>
  </diV>
</div>
<hr>
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-3">
     <a href="/checkout"><button type="button" class="btn btn-success">Checkout</button></a>
  </diV>
</div>
{{else}}
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-3">
     <h1>No Items in Cart</h1>
  </diV>
</div>
{{/if}}
